*{
    margin: 0;
    padding: 0;
    
}


body{
    
    background-color: purple;
}
h1{
    display: inline-block;
    margin: 20px;
    font-size: 50px;
    color: yellow;
    margin-top: 100px;

}

.foto{
    display: inline-block;
       text-align: center;
}

a{
    display:block;
    color: yellow;
    
}

.div{
    max-width: 600px;
    margin: auto;
}
p{
    margin-top: 20px;
    color: yellow;
}